- active_nav_item :catalogue
- @page_title = "مقایسه"
= render 'shared/navbar'
.container
  .row
    .product.col-md-6.col-sm-12.col-xs-12
      =render 'shared/product' , :product => @product1
    -#*********************************************************************second product
    .product.col-md-6.col-sm-12.col-xs-12
      = render 'shared/product' , :product => @product2
