/*
*= require pagination
*= require_self
*= require normalize
*= require bootstrap
*= require bootstrap-rtl
*= require iview
*= require menu3d
*= require animate
*= require custom
*= require rtl
*= require style-switch
*= require color
*= require font-awesome
*/

@font-face {
  font-family: "BYekan";
  src: url("BYekan.eot");
  src: local("b BYekan"), url("BYekan.woff") format("woff"), url("BYekan.ttf") format("truetype"), url("BYekan.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
$font: Byekan;

body{
  direction: rtl !important;
  font-family: Byekan !important;
  background:url(bg-body.jpg) !important;
}

.right_to_left{
  direction: rtl;
}


.farsi{
  font-family: Byekan !important;
}

.img_search {
//  width: 30%;
  float: right;
}


.black_color{
  color: #000000 !important;
}